html {
    font-family:  'Lucida Sans', Arial, sans-serif;
    background:
      linear-gradient(120deg, transparent 90%, rgb(161, 204, 165)) 0 0,
      linear-gradient(240deg, transparent 90%, rgb(161, 204, 165)) 0 0,
      linear-gradient(120deg, transparent 90%, rgb(161, 204, 165)) 15px -30px,
      linear-gradient(240deg, transparent 90%, rgb(161, 204, 165)) 15px -30px,
      rgb(255, 255, 255);
    background-size: 30px 60px;
    height: 100%;
}

header {
    background-color: white;
}
#emissions-statement-good {
    background-color:  rgba(161, 204, 165, 0.9)  ;
    color: rgba(119, 42, 6, 0.80);
}
#emissions-statement-bad {
    background-color:  rgb(180, 97, 97);
    color: rgb(255, 255, 255);
}
.carbon-statement {
    text-align: center;
    padding: 10px;
    border-radius: 15px;    
}

.title-text {
    left: 20px;
    right: 20px;
    padding: 5px;
    text-align: center;
    color: rgba(119, 42, 6, 0.80);
    background-color:  rgba(161, 204, 165, 0.9)  ;
    border-radius: 15px;
}

body > header {
    color: rgba(119, 42, 6, 0.80);
    background-color:  rgba(161, 204, 165, 0.9)  ;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 1px;
}

body > header > h1 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}
body > header > ul{
    display: flex ;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 40px;
}

.menu {
    padding-top: 10px;
}
.views-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border: 10px;
}

.views-flex >* {
    background-color: rgba(161, 204, 165, 0.9) ;
    border-radius: 15px;
    width: 200px;
    margin: 3%;
    padding: 15px;
    text-align: center;
    color: rgba(119, 42, 6, 0.80);
}

.centre-text {
    padding-bottom: 50px;
    margin-bottom: 50px;
    height: auto;
}

#footer {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 0px;
    background-color: rgba(161, 204, 165) ;
    color: white;
    text-align: center;
    color: rgba(119, 42, 6, 0.80);
    border-radius: 15px;

}
a {
    font-weight: bold;
    color: rgba(190, 60, 0, 0.8);
}