/* html {
    background-color: white;
    background-image:
    linear-gradient(rgb(138, 197, 138), rgb(138, 218, 114), transparent),
    linear-gradient(45deg, rgba(0, 0, 0) 80%, transparent 50%),
    linear-gradient(135deg, rgba(10, 111, 151, 0.2) 50%, transparent 50%);
background-size: 50px 50px;
} */

.trips_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 50%; */
    height: 300px;
    padding: 10px;
    border: 10px;
    /* border-color: black; */
    /* margin: 0%; */
}

.trips_flex >* {
    background-color: rgba(110, 219, 119, 0.582) ;

    flex: 160px
}